# Setup

In [2]:
import pandas as pd

## File: test_build_your_df_features.py

Latest Update: 05/13/2025

### Module: test_init_df_data_analysis

In [5]:
testing_data01 = pd.read_csv('tests_data/test_init_df_data_analysis.csv')
display(testing_data01.iloc[:, :len(testing_data01.columns) // 2])

,outbound_item,device_code,device_name,downtime,uptime,months_len,num_days_breaks,max_days_break,total_days_breaks,months_len_exclude_breaks,continued_status_strict,continued_status_loose,times_of_standby,times_of_irrigation_start,times_of_irrigation_close
0,haida,1,r24zIcmdHvbIjmkUZ1F6,NaN,NaN,0,0,0,0,0,T,T,0,0,0
1,haida,2,Z6ComQVQfeeFXVILZi6r,NaN,NaN,0,0,0,0,0,T,T,0,0,0
2,haida,2,i3wXOxXUJcCs6Yvzmomf,NaN,NaN,0,0,0,0,0,T,T,0,0,0
3,haida,3,yhbrF68hTLzS4qnz97M4,NaN,NaN,0,0,0,0,0,T,T,0,0,0
4,haida,3,Xm0AmTM2HZlwzhTiTpa3,NaN,NaN,0,0,0,0,0,T,T,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,haida,61,shTs33zYjNaDuwqTjIjI,NaN,NaN,0,0,0,0,0,T,T,0,0,0
106,haida,62,eDPDaKrigKnjKFGAdc40,NaN,NaN,0,0,0,0,0,T,T,0,0,0
107,haida,63,oObcfR8y7UcjQBj5uomd,NaN,NaN,0,0,0,0,0,T,T,0,0,0
108,haida,64,Lhu8ErPaZ9E5oqY1EYrv,NaN,NaN,0,0,0,0,0,T,T,0,0,0
109,haida,64,bgApgG67pawXzIGfxII4,NaN,NaN,0,0,0,0,0,T,T,0,0,0

In [4]:
display(testing_data01.iloc[:, len(testing_data01.columns) // 2:])

,times_of_uptime,times_of_downtime,times_of_strong_signal,times_of_mid_signal,times_of_weak_signal,times_of_null_signal,average_signal,min_signal,max_signal,times_signal_switch_strong_mid,times_signal_switch_strong_week,times_signal_switch_strong_null,times_signal_switch_mid_week,times_signal_switch_mid_null,times_signal_switch_weak_null
0,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
106,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
107,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
108,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0
109,0,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0

## File: test_data_analyser.py

Latest Update: 05/13/2025

### Module: test_get_downtime_uptime

In [16]:
testing_data02 = pd.read_csv('tests_data/test_get_downtime_uptime.csv')
specified_columns = ['outbound_item', 'device_name', 'device_code', 'downtime', 'uptime']
testing_data02[specified_columns]

    outbound_item           device_name  device_code    downtime      uptime
0           haida  r24zIcmdHvbIjmkUZ1F6            1  2025-05-07  2024-11-05
1           haida  Z6ComQVQfeeFXVILZi6r            2         NaN         NaN
2           haida  i3wXOxXUJcCs6Yvzmomf            2         NaN         NaN
3           haida  yhbrF68hTLzS4qnz97M4            3         NaN         NaN
4           haida  Xm0AmTM2HZlwzhTiTpa3            3         NaN         NaN
..            ...                   ...          ...         ...         ...
105         haida  shTs33zYjNaDuwqTjIjI           61         NaN         NaN
106         haida  eDPDaKrigKnjKFGAdc40           62         NaN         NaN
107         haida  oObcfR8y7UcjQBj5uomd           63         NaN         NaN
108         haida  Lhu8ErPaZ9E5oqY1EYrv           64         NaN         NaN
109         haida  bgApgG67pawXzIGfxII4           64         NaN         NaN

[110 rows x 5 columns]

### Module: test_get_month_len

In [14]:
testing_data03 = pd.read_csv('tests_data/test_get_month_len.csv')
months_len_related_columns = ['months_len', 'num_days_breaks', 'max_days_break', 
                           'total_days_breaks', 'months_len_exclude_breaks']
testing_data03[months_len_related_columns]

,months_len,num_days_breaks,max_days_break,total_days_breaks,months_len_exclude_breaks
0,6,1,2,2,6
1,0,0,0,0,0
2,0,0,0,0,0
3,0,0,0,0,0
4,0,0,0,0,0
...,...,...,...,...,...
105,0,0,0,0,0
106,0,0,0,0,0
107,0,0,0,0,0
108,0,0,0,0,0
109,0,0,0,0,0

### Module: get_operation_status

In [4]:
testing_data04 = pd.read_csv('tests_data/test_get_operation_status.csv')
operation_status_columns = ['times_of_standby', 'times_of_irrigation_start', 
                           'times_of_irrigation_close', 'times_of_uptime', 
                           'times_of_downtime']
testing_data04[operation_status_columns]

,times_of_standby,times_of_irrigation_start,times_of_irrigation_close,times_of_uptime,times_of_downtime
0,3669,45,46,243,237
1,T,0,0,0,0
2,T,0,0,0,0
3,T,0,0,0,0
4,T,0,0,0,0
...,...,...,...,...,...
105,T,0,0,0,0
106,T,0,0,0,0
107,T,0,0,0,0
108,T,0,0,0,0
109,T,0,0,0,0

### Module: get_signal_strength

In [13]:
testing_data05 = pd.read_csv('tests_data/test_get_signal_strength.csv')
operation_status_columns = ['times_of_strong_signal', 'times_of_mid_signal', 
                           'times_of_weak_signal', 'times_of_null_signal', 
                           'average_signal', 'min_signal', 'max_signal']
testing_data05[operation_status_columns]

,times_of_strong_signal,times_of_mid_signal,times_of_weak_signal,times_of_null_signal,average_signal,min_signal,max_signal
0,1913,1540,204,12,20.18,0,31
1,0,0,0,0,0.00,0,0
2,0,0,0,0,0.00,0,0
3,0,0,0,0,0.00,0,0
4,0,0,0,0,0.00,0,0
...,...,...,...,...,...,...,...
105,0,0,0,0,0.00,0,0
106,0,0,0,0,0.00,0,0
107,0,0,0,0,0.00,0,0
108,0,0,0,0,0.00,0,0
109,0,0,0,0,0.00,0,0

### Module: get_signal_switch_frequency

In [6]:
testing_data06 = pd.read_csv('tests_data/test_get_signal_switch_frequency.csv')
operation_status_columns = ['times_signal_switch_strong_mid', 'times_signal_switch_strong_weak', 
                           'times_signal_switch_strong_null', 'times_signal_switch_mid_weak', 
                           'times_signal_switch_mid_null', 'times_signal_switch_weak_null']
testing_data06[operation_status_columns]

,times_signal_switch_strong_mid,times_signal_switch_strong_weak,times_signal_switch_strong_null,times_signal_switch_mid_weak,times_signal_switch_mid_null,times_signal_switch_weak_null
0,199,4,1,76,0,9
1,0,0,0,0,0,0
2,0,0,0,0,0,0
3,0,0,0,0,0,0
4,0,0,0,0,0,0
...,...,...,...,...,...,...
105,0,0,0,0,0,0
106,0,0,0,0,0,0
107,0,0,0,0,0,0
108,0,0,0,0,0,0
109,0,0,0,0,0,0